$blue: #263238;
$orange: #BF360C;
$brown: #3E2723;
$gray: #212121;
$green: #004D40;
$purple: #4A148C;
$pink: #880E4F;

.bric {
  margin-top: 10px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
  }

  .title {
    padding: 10px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    text-align: center;
    font-family: 20px;
  }

  &.train {
    background: $purple;
  }

  &.disruptions {
    background: $pink;
  }

  &.movie {
    background: $orange;
  }

  &.serie {
    background: $brown;
  }

  &.notes {
    background: $gray;
  }

  &.weather {
    background: $green;
  }

  &.news {
    background: $blue;
  }

  content {
    background: rgba(0, 0, 0, 0.5);
  }
}
