// AppIcon.scss
$AppIconSize: 70px;
$AppIconMarge: 10px;
$AppIconFontSize: 40px;
$AppIconBorderSize: 10px;

.app-icon {
	display: inline-block;
	width: $AppIconSize;
	height: $AppIconSize;
	border-radius: $AppIconSize;
    text-align: center;
    margin: $AppIconMarge;
    position: relative;
    overflow: hidden;
    background: white;

	&:before {
	    content: ' ';
	    position: absolute;
	    background: #cccccc;
	    width: 50%;
	    height: 100%;
	    transform: rotate(-50deg) translate(30%,69%);
	}

	.icon {
		font-size: $AppIconFontSize;
		line-height: 50%;
		width: 100%;
		height: 100%;
		padding: 20% 0%;
		box-sizing: border-box;
	    border: $AppIconBorderSize solid white;
	    border-radius: 100%;
	    background: white;
	    color: black;
	}
}