// bottom-input.scss
input[type=text].bottom-input {
    position: relative;
    width: 100%;
    height: 40px;
    border: 0px;
    border-top: 0px solid $text-light;
    background: $text-light;
    color: $text-dark;
    font-size: $fz-big;
    outline: none;
    padding: 6px;
    -webkit-appearance: none;
    border-radius: 0px;

    &:focus {
      outline: none;
    }
}
