// _button-text.scss
.button-text {
	font-family: $ff;
	display: inline-block;
	padding: 10px;
	margin: 5px 5px;
	text-transform: uppercase;
	font-weight: 900;
    font-size: 15px;
    cursor: pointer;

	.text {
		color: $medium-red-violet;
	}

	&.light {
		color: $french-rose;
	}

	&.regular {
		color: $eminence;
	}

	&.dark {
		color: $dark-blue;
	}

	&:hover {
		background: $alice-blue;
	}
}