// card.scss
.card {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

	.card-content {
		background: #FFF;
		box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
		border-radius: 3px;
		overflow: hidden;

		.card-header {
			overflow: hidden;
			position: relative;
			max-height: 200px;
			overflow: hidden;

			img {
				position: relative;
				width: 100%;
			}

			.title {
				font-family: $ff-light;
				font-size: 22px;
				padding: 10px;
				position: absolute;
				bottom: 0px;
				color: #FFF;
				font-weight: bolder;
			}
		}
		.card-body {
			padding: 15px;

			.date {
				font-family: $ff;
				font-size: 12px;
			}

			.description {
				font-family: $ff;
				font-size: 16px;
			}
		}
	}
}