// menu-bottom.scss
$AppIconSize: 50px;
$AppIconMarge: 5px;
$AppIconFontSize: 25px;
$AppIconBorderSize: 5px;
$AppIconAnimation: 0.3s;
$AppIconItemClose: translate(0px, 50%) scale(0);
$AppIconItemOpen: translate(0px, 0px) scale(1);

@keyframes open-item {
    from {
		transform: $AppIconItemClose;
    }
    to {
		transform: $AppIconItemOpen;
    }
}

@keyframes close-item {
    from {
		transform: $AppIconItemOpen;
    }
    to {
		transform: $AppIconItemClose;
    }
}

@keyframes open-rotate {
    from {
    	transform: rotate(0deg);
    }
    to {
		transform: rotate(290deg);
    }
}

@keyframes close-rotate {
    from {
		transform: rotate(290deg);
    }
    to {
		transform: rotate(0deg);
    }
}

.menu-bottom {
	width: calc(#{$AppIconSize} + 10px);
	position: absolute;
	bottom: 10px;
	right: 10px;

	&.close {
		height: calc(#{$AppIconSize} + 10px);

		.main {
			.icon {
				animation-timing-function: ease-out;
				animation-name: close-rotate;
				animation-duration: $AppIconAnimation;
			}
		}

		.items {
			display: block;

			.item {
				display: block;
				animation-timing-function: ease-out;
				animation-name: close-item;
				animation-duration: $AppIconAnimation;
				transform: $AppIconItemClose;
			}

			.app-icon {
				width: 0;
				height: 0;
				border-radius: 0;
			    margin: 0;

				.icon {
					font-size: 0;
				    border-size: 0;
				}
			}
		}
	}

	&.open {
		overflow: inherit;

		.visible-open {
			display: block;
		}

		.visible-close {
			display: none;
		}

		.main {
			.icon {
				animation-timing-function: ease-out;
				animation-name: open-rotate;
				animation-duration: $AppIconAnimation;
			}

			&.app-icon {
				box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);

				&:before {
					display: none;
				}
			}
		}

		.items {
			display: block;

			.item {
				animation-timing-function: ease-in-out;
				animation-name: open-item;
				animation-duration: $AppIconAnimation;
				transform: $AppIconItemOpen;
			}
		}
	}

	.items {
		display: none;
		position: absolute;
		bottom: 100%;
		overflow: hidden;

		.item {
			display: block;
			margin: 10px;

			.app-icon {
				width: calc(#{$AppIconSize} - 10px);
				height: calc(#{$AppIconSize} - 10px);
				border-radius: calc(#{$AppIconSize} - 10px);
			    margin: 0px;

				.icon {
					padding: 35% 0%;
					font-size: calc(#{$AppIconFontSize} - 5px);
				    border-width: calc(#{$AppIconBorderSize} - 5px);
				}
			}
		}
	}
	
	.app-icon {
		width: $AppIconSize;
		height: $AppIconSize;
		border-radius: $AppIconSize;
	    margin: $AppIconMarge;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);

		.icon {
			padding: 30% 0%;
			font-size: $AppIconFontSize;
		    border-width: $AppIconBorderSize;
		}
	}

	.visible-close {
		display: block;
	}

	.visible-open {
		display: none;
	}
}