// text-icon.scss
.text-icon {
	font-family: $ff;
	display: inline-block;
	padding: 10px 10px 0px 0px;
	text-transform: uppercase;
	font-weight: 900;
    font-size: 15px;
    cursor: pointer;

    .icon {
    	vertical-align: middle;
    	margin-right: 5px;
    }

	.text {
		color: $medium-red-violet;
	}

	&.light {
		color: $french-rose;
	}

	&.regular {
		color: $eminence;
	}

	&.dark {
		color: $dark-blue;
	}

	&:hover {
		background: $alice-blue;
	}
}