// data-list.scss
.data-list {

	.head {
		display: block;
    	padding: 10px 0px;
		line-height: 2.2rem;
		border-top: 1px solid $text-light;
		vertical-align: middle;
		text-align: center;
		background: $alice-blue;
		color: black;
		font-family: $ff-light;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.3rem;
	}

	.line {
		font-family: $ff;
  	min-height: 50px;
  	padding: 10px 0px;
		line-height: 2.2rem;
		border-top: 1px solid $text-light;
		vertical-align: middle;

		.icon {
			vertical-align: middle;
      font-weight: bold;
		}
	}

	.selected {
		&.line {
			.left {
    			color: white;
    		}
		}
	}

	.left {
		text-align: left;
		color: white;
		font-size: $fz-text;

    .icon {
      margin-right: 10px;
    }
	}

	.right {
		text-align: right;
		color: white;
		font-size: $fz-text;

    .icon {
      margin-left: 10px;
    }
	}
}
