// Header.scss
.header {
	$close-button-size: 30px;
	$margin: 5px;
    border-bottom: 1px solid $text-light;
	height: 50px;
	margin-top: $margin;
	position: relative;

	.title {
		font-size: $fz-title;
		display: inline;
		text-transform: uppercase;
		height: 30px;
		display: inline-block;
		line-height: 30px;
		text-overflow: ellipsis;
		padding: 0px 30px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		color: white;
	}

	.close {
		background:$color-light;
		position: absolute;
		left: $margin;
		width: $close-button-size;
		height: $close-button-size;

		i {
			width: $close-button-size;
			height: $close-button-size;
			line-height: $close-button-size;
			text-align: center;
		}
	}
}
