/* =Colors
***********************************/
// blue
$dark-blue: #425e7c;
$alice-blue: #F7F9FD;
$quartz: #DBDDEC;
// purple
$eminence: #6E2F77;
$medium-red-violet: #A53C83;
// pink
$mulberry: #D14F8F;
$french-rose: #EC5192;

$color-dark: $dark-blue;
$color-light: $alice-blue;
$color-lighter: $quartz;

$text-dark: $dark-blue;
$text-light: $alice-blue;
$text-lighter: $quartz;

// red
$red: #C62828;

/* =Size
***********************************/
$fz: 12px;

$fz-bigger: 2.2rem;
$fz-big: 1.6rem;
$fz-small: 0.8rem;
$fz-smaller: 0.5rem;

$fz-title: 1.4rem;
$fz-text: 1.2rem;

/* =Fonts
***********************************/
$ff-bold: 'Roboto', sans-serif;
$ff: 'Roboto Light', sans-serif;
$ff-light: 'Roboto Thin', sans-serif;