@import "normalize.css";
@import "flexboxgrid/dist/flexboxgrid.min.css";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("/MaterialIcons-Regular"),
    url(/MaterialIcons-Regular.woff2) format("woff2"),
    url(/MaterialIcons-Regular.woff) format("woff"),
    url(/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Weather&Time";
  font-style: normal;
  font-weight: 400;
  src: local("Weather&Time"), local("/weather/Weather&Time"),
    url(/weather/Weather&Time.ttf) format("truetype");
}

.weather-icons {
  font-family: "Weather&Time";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("/Roboto/Roboto-Medium"),
    url(/Roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Light"), local("/Roboto/Roboto-Light"),
    url(/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Thin";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Thin"), local("/Roboto/Roboto-Thin"),
    url(/Roboto/Roboto-Thin.ttf) format("truetype");
}

body,
html {
  font-family: "Roboto Thin", sans-serif;
  background: black;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100%;
  width: 100%;
}
