@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/flexboxgrid/dist/flexboxgrid.min.css';

@import './modules/var';
@import './modules/mixins';
@import './modules/material-icons';
@import './modules/header.scss';
@import './modules/icon.scss';
@import './modules/weather-icon.scss';
@import './modules/weather.scss';
@import './modules/text.scss';
@import './modules/title.scss';
@import './modules/data-list.scss';
@import './modules/editable-list.scss';

@import './modules/ui/button-icon.scss';
@import './modules/ui/button.scss';
@import './modules/ui/app-icon.scss';
@import './modules/ui/menu-bottom.scss';
@import './modules/ui/card.scss';
@import './modules/ui/button-text.scss';
@import './modules/ui/text-icon.scss';
@import './modules/ui/video.scss';
@import './modules/ui/bottom-input.scss';

@import './modules/rich/bric.scss';

@include font-face('Roboto', '/Roboto/Roboto-Medium', null, null, ttf);
@include font-face('Roboto Light', '/Roboto/Roboto-Light', '300', 'normal', ttf);
@include font-face('Roboto Thin', '/Roboto/Roboto-Thin', '100', 'normal', ttf);

body,
html {
    background: black;
	font-family: $ff;
	font-size: $fz;
	padding: 0px;
    margin: 0px;
    position: relative;
    height : 100%;
    width : 100%;

    &.keyboardVisible {
        // position: fixed;
    	   // height: 200px;
        // overflow: hidden;
    }
}

.row {
    margin-right: 0rem;
    margin-left: 0rem;
}
